.user-management {
    .form-select-pagesize {
        font-size: 14px;
        &--select {
            font-size: 14px;
        }
    }
    .form-search {
        .input-select-datepicker{
            font-size: 14px;    
            line-height: 1.858;     
        }
        .filter-user-option{
            width: 320px;
            max-width: 320px;
            margin-left: auto;
            .select-user-option {
                font-size: 14px;
                flex-grow: 2;
            }
            .input-user-option {
                font-size: 14px;
                flex-grow: 5;
            }
        }
    }
    #modalUserEdit {
        .modal-body {
            & > div {
                align-items: center;
                label {
                    text-align: left;
                }
            }
            .message-success-edit-user,
            .message-error-edit-user {
                display: none;
            }
        }
    }
    #modalUserDelete {
        .message-success-delete-user,
        .message-error-delete-user {
            display: none;
        }
    }
}
