<div class="login">
    <div class="login--wrapper">
        <div class="login--form">
            <h1 class="mb-3">
                <%=title%>
            </h1>
            <div class="alert alert-danger error-message" role="alert">
                Tài khoản hoặc mật mã không đúng
            </div>
            <div class="alert alert-success success-message" role="alert">
                Đăng nhập thành công
            </div>
            <form class="text-center border border-light p-5" action="api/login" method="POST" id="loginForm">

                <!-- username -->
                <label for="defaultLoginFormUsername" class="label-username">Tài khoản</label>
                <input type="text" id="defaultLoginFormUsername" class="form-control mb-4"
                    placeholder="Nhập tài khoản của bạn" name="username">

                <!-- Password -->
                <label for="defaultLoginFormUsername" class="label-password">Mật khẩu</label>

                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4"
                    placeholder="Nhập mật khẩu của bạn" name="password">

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="form-check-input" id="defaultLoginFormRemember">
                            <label class="form-check-label" for="defaultLoginFormRemember">Ghi nhớ đăng nhập</label>
                        </div>
                    </div>
                    <div>
                        <!-- Forgot password -->
                        <a href="">Quên mật khẩu</a>
                    </div>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-primary btn-block my-4" type="submit">
                    <%=title%>
                </button>

                <!-- Social login -->
                <p>hoặc đăng nhập với:</p>

                <a class="btn text-white" style="background-color: #3b5998;" href="#!" role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn text-white" style="background-color: #dd4b39;" href="#!" role="button">
                    <i class="fab fa-google"></i>
                </a>
            </form>
        </div>
    </div>
</div>